/*CSS Styles for all parts of the html*/
body {
  background-color: lightblue;
}
#title{
  line-height: 20px;
  font-size: 40px;
  text-align: center;
}
#Mapinfo{
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
}
#instruct{
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
}
#map { height: 300px; }

.leaflet-popup-content p {
    margin: 0.1em 0;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 250px;
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;
}
#forward {
  float: right;
}
#reverse {
    float: left;
}
.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-weight: bold;
    height: 200px;
    border: solid gray 1px;
}

layer.bindPopup(popupContent, {
       offset: new L.Point(0,-options.radius)
   });
