/*CSS Styles for all parts of the html*/
body {
  background-color: lightgrey;
}
#title{
  line-height: 20px;
  font-size: 40px;
  text-align: center;
}
#Mapinfo{
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
}
#instruct{
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
}
#map { height: 600px; }

.leaflet-popup-content p {
    margin: 0.1em 0;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 250px;
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;
}
#forward {
  float: right;
}
#reverse {
    float: left;
}
.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-weight: bold;
    height: 200px;
    border: solid gray 1px;
}
.icon-active {
  background-color: #ffc !important;
}

.icon-ruler {
  cursor: pointer;
  background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADVSURBVCiRndIxSkMBEIThb18eSLCwV7DRIiRH8AZaWtnYeQIPINhbWIh9Kg+hCN4hEQsLUawsRBFEhLXZgEgUngvT/bOzDBuZqes0nR1dTRHRQPsH0McAw9IIlzhuC+hh7QewjEdco4dTbEMTEQOc4xBbuMcrdrGEE6ziCusVYBEXWKj4Po5q+0ZmmgljDNrMfIuIp9q2g/fM3I+IwENEbNa5w2JWIjNFxAHucFvAqEp4wRST0k1mfszam2LvG3CGSWY+z222ktrM/Pyt/rmmrvOvN/oCjRNGEaC8yE0AAAAASUVORK5CYII=') !important;
}

.ruler-map {
  cursor: crosshair !important;
}

.total-popup {
  width: auto !important;
  height: auto !important;
  padding-left: 15px;
  margin-top: -10px !important;
  background-color: transparent;
}

.total-popup-content {
  padding: 1px 7px;
  background-color: #4d90fe;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

  .total-popup-content .poly-close {
    display: none;
  }

    .total-popup-content .poly-close:hover {
      opacity: 0.7;
    }

  .total-popup-content:hover .poly-close {
    display: inline;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
  }

  .total-popup-content svg {
    width: 15px;
    height: 10px;
    position: relative !important;
    top: 0px !important;
    left: 5px !important;
  }

    .total-popup-content svg path {
      stroke: white;
      fill: transparent;
      stroke-linecap: round;
      stroke-width: 7;
    }

    .total-popup-content svg:hover {
      opacity: 0.7;
    }

    .total-popup-content svg:active {
      opacity: 0.3;
    }

.total-popup-label {
  padding: 0px;
  padding-top: 10px;
  background-color: transparent;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
  color: #4d90fe;
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
}

.node-label {
  top: -25px !important;
}

.azimut {
  color: blue;
  text-shadow: 1px 1px 0px white;
  font-size: 13px;
  font-weight: normal;
}

.azimut-final {
  text-shadow: none;
  font-weight: bold;
}

.second-legend-control-container {
  width: 160px;
  height: 350px;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  text-align: center;
  border: solid gray 1px;
}

layer.bindPopup(popupContent, {
       offset: new L.Point(0,-options.radius)
   });
